<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/303-web-service-simulator-single-handler-multi-request/src/main/java/com/rpsoft/ws/greeting/server/GreetingSimulatorServer.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.rpsoft.ws.greeting.server.GreetingSimulatorServer"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="303-web-service-simulator-single-handler-multi-request"/>
</launchConfiguration>
